
<h2 mat-dialog-title>Create a task</h2>
<mat-dialog-content>
  <form [formGroup]="taskFG">

  </form>
  <mat-form-field>
    <mat-label>Task title</mat-label>
    <input matInput [formControl]="taskFG.controls.title" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Description</mat-label>
    <textarea matInput placeholder="Add a simple description" [formControl]="taskFG.controls.desc"></textarea>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="clickCancel()" >Cancel</button>
  <button mat-button [disabled]="taskFG.invalid" [mat-dialog-close]="taskFG.value">Create</button>
</mat-dialog-actions>
